openai
fastapi
uvicorn
docling
tiktoken
pydantic
pydantic-settings
python-multipart
ipykernel
faiss-cpu
python-dotenv
langsmith
langchain
langchain-openai
nemoguardrails
sentence-transformers
qdrant-client[fastembed]
